
.App {
    padding: 2rem 3rem;
}

header {
    padding: 2rem 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: red;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;

    display: flex;
    justify-content: center;
}

input, button, select {
    display: inline !important;
}

.container {
    width: 100%;
}

.todo-completed {
    text-decoration: line-through;
}